@media (max-width: 980px) {
  .hero-inner {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .nav {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }

  .mobile-nav {
    display: flex;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .reciclado{
  display: flex;
  height: 200px;
  }

  iframe{
    height: 350px;
    width: 450px;
  }

}